@keyframes aparicion
    0%
        opacity: 0
        transform: translateY(-75px)
        
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes titulos
    0%  
        opacity: 0
        transform: translateY(75px)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes ingresoderecha
    0%
        opacity: 0
        transform: translateX(-75px)
    100%
        opacity: 1
        transform: translateX(0px)
                   
@keyframes vermas
    0%
        transform: translateY(-5px)
    100%
        transform: translateY(0)
    
@keyframes pulse-animation
    0%
        box-shadow: 0 0 0 0px #25d3664d rgba(0, 0, 0, 0.2)
    100%
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0)

@keyframes rotacion
    0% 
        -webkit-transform: rotate3d(0, 0, 1, 0deg)
        transform: rotate3d(0, 0, 1, 0deg)
    25% 
        -webkit-transform: rotate3d(0, 0, 1, 90deg)
        transform: rotate3d(0, 0, 1, 90deg)
    50% 
        -webkit-transform: rotate3d(0, 0, 1, 180deg)
        transform: rotate3d(0, 0, 1, 180deg)
    75% 
        -webkit-transform: rotate3d(0, 0, 1, 270deg)
        transform: rotate3d(0, 0, 1, 270deg)
    100% 
        -webkit-transform: rotate3d(0, 0, 1, 360deg)
        transform: rotate3d(0, 0, 1, 360deg)
  
