@keyframes aparicion
    0%
        opacity: 0
        transform: translateY(-75px)
        
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes titulos
    0%  
        opacity: 0
        transform: translateY(75px)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes ingresoderecha
    0%
        opacity: 0
        transform: translateX(-75px)
    100%
        opacity: 1
        transform: translateX(0px)
                   
@keyframes vermas
    0%
        transform: translateY(-5px)
    100%
        transform: translateY(0)
    
@keyframes pulse-animation
    0%
        box-shadow: 0 0 0 0px #25d3664d rgba(0, 0, 0, 0.2)
    100%
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0)