@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #fff;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: opacity(0.75);
}
@media (max-width: 768px) {
  video {
    height: 100dvh;
  }
}

#home {
  background-image: url(../img/bg_principal_1.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100dvh;
}
#home .main-hero {
  height: 85dvh;
}
#home img {
  height: 560px;
}
#home .main-text {
  text-transform: uppercase;
  height: 15vh;
  width: 100%;
  border-block: 0.25rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#home .main-text h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

#make-up {
  height: 100dvh;
  width: 100%;
  background-color: #000;
  -o-object-fit: cover;
     object-fit: cover;
}
#make-up .makeup-block {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.75rem;
  padding-block: 2.5rem;
}
#make-up .bi {
  color: #bd0000;
}
@media (max-width: 768px) {
  #make-up .makeup-block {
    padding-block: 0px;
  }
  #make-up .makeup-block > div {
    border-bottom: 0.25rem solid #fff;
    font-size: clamp(2rem, 3vw, 4rem);
    padding-block: 1.85rem;
  }
}

#agendar {
  height: 100dvh;
  width: 100%;
  background-image: url(../img/bg_3_luciana_cita.png);
  background-size: cover;
  background-position: center;
}
#agendar .citas {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}
#agendar .citas h1 {
  font-size: clamp(5rem, 7vw, 10rem);
  font-family: "Lato", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
#agendar .citas .bi-plus-lg {
  font-size: clamp(8rem, 10vw, 10rem);
  color: #bd0000;
  text-align: left;
}
@media (max-width: 991px) {
  #agendar .citas {
    padding-left: 3rem;
  }
  #agendar .citas h1 {
    font-weight: 400;
  }
}
#agendar .agenda {
  width: 300px;
  text-transform: uppercase;
  font-size: clamp(3rem, 5vw, 6rem);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-justify: justify;
}
@media (max-width: 991px) {
  #agendar .agenda {
    width: 50%;
    font-weight: 400;
    font-kerning: 2rem;
  }
}

#testimonio {
  padding-block: 10rem;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 768px) {
  #testimonio {
    height: auto;
  }
}
#testimonio .texto-testimonio {
  font-family: "Lato", sans-serif;
  font-size: clamp(2rem, 2vw, 2.5rem);
  font-weight: 100;
}
#testimonio .menu_links {
  margin-block: 5rem;
}
#testimonio .menu_links ul {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#testimonio .menu_links ul li {
  padding-block: 2rem;
  text-decoration: underline;
  font-size: clamp(3.3rem, 4.5vw, 5rem);
  font-weight: 300;
  color: #fff;
}
#testimonio .menu_links ul li span {
  color: #bd0000;
  text-decoration: underline;
  font-size: clamp(3.3rem, 4.5vw, 5rem);
  font-weight: 400;
}
@media (max-width: 768px) {
  #testimonio .menu_links ul {
    flex-direction: column;
    align-items: center;
  }
}
#testimonio .redes-sociales {
  margin-block: 5rem;
}
#testimonio .redes-sociales ul {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#testimonio .redes-sociales ul li {
  padding: 2rem;
  text-decoration: underline;
  font-size: 2.75rem;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 768px) {
  #testimonio .redes-sociales ul {
    flex-direction: column;
    align-items: center;
  }
}
#testimonio .info-contacto p {
  font-family: "Lato", sans-serif;
  font-size: clamp(1.5rem, 2.2vw, 2.3rem);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 100;
}

footer {
  width: 100vw;
  padding-block: 5rem;
  background: footer #fff;
}/*# sourceMappingURL=styles.css.map */