@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  overflow: hidden;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.owl-carousel img {
  aspect-ratio: 3/4;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

video {
  width: 100%;
  height: 100dvh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  aspect-ratio: 3/4;
}
@media (max-width: 991px) {
  video {
    height: 100dvh;
    aspect-ratio: 16/9;
  }
}

.logo_principal {
  animation-name: aparicion;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
  max-width: 400px;
  height: 100%;
  rotate: -90deg;
}
@media (max-width: 520px) {
  .logo_principal {
    rotate: 0deg;
    max-width: 300px;
  }
}

header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1200;
  max-width: 1350px;
  margin: 0 auto;
}

.logo {
  max-width: 220px;
  padding: 1.5rem 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2.2rem;
  font-size: 2.35rem;
}
.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu, .cerrar-menu {
  display: none;
}

@media (min-width: 300px) {
  .abrir-menu, .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25em;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: #fff;
  }
  .abrir-menu i {
    color: #a01c1c;
    font-size: 5em;
    padding: 0.5em;
  }
  .cerrar-menu {
    color: #ececec;
  }
  .cerrar-menu i {
    font-size: 2.5em;
    padding: 1.5em;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    padding: 2.5em;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
    transition: ease 0.5s;
    height: 100dvh;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-list li a {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
  }
  .nav-list li a:hover {
    color: #c40d31;
  }
}
.offcanvas {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.navbar-collapse .nav-link {
  font-size: 3.5em;
  letter-spacing: 2px;
}

.navbar-toggler {
  color: #d60029;
  font-size: 8rem;
  border: none;
  z-index: 2990;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas.offcanvas-end {
  width: 50vw;
}
@media screen and (max-width: 768px) {
  .offcanvas.offcanvas-end {
    width: 100%;
  }
}

.navbar-nav {
  padding-top: 60px;
}
.navbar-nav .nav-item {
  font-size: 3rem;
  display: block;
  padding-block: 0.85rem;
  text-transform: uppercase;
  width: 20ch;
}
.navbar-nav .nav-link {
  color: #fff;
  font-weight: 300;
}
.navbar-nav .nav-link:hover {
  color: #d60029;
  transition: 0.2 0.5s ease-in-out;
}
.navbar-nav .nav-link:hover::before {
  content: "+ ";
  color: #d60029;
}

@keyframes aparicion {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes titulos {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ingresoderecha {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes vermas {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(37, 211, 102, 0.3019607843) rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
@keyframes rotacion {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.container-lg {
  max-width: 1200px;
}

.container-md {
  max-width: 960px;
}

#home {
  width: 100%;
  height: 90dvh;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 1366px) {
  #home {
    height: 100dvh;
  }
}
@media (max-width: 991px) {
  #home {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100dvh;
  }
}
#home .main-hero {
  height: calc(66dvh - 1rem);
}
@media (max-width: 991px) {
  #home .main-hero {
    height: 82dvh;
  }
}
#home img {
  height: 500px;
  width: 100%;
}
@media (max-width: 768px) {
  #home img {
    height: 150px;
  }
}
#home .main-text {
  text-transform: uppercase;
  height: 13.75dvh;
  width: 100%;
  border-block: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  animation-name: titulos;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@media (max-width: 991px) {
  #home .main-text {
    height: auto;
    padding-block: 1.5rem;
  }
}
#home .main-text h2 {
  font-size: clamp(1.9rem, 2.25vw, 2.5rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  padding: 3rem 0;
}
#home .makeup-block {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  font-size: clamp(2.5rem, 3.5vw, 4rem);
  animation-name: titulos;
  animation-duration: 1s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
@media (max-width: 768px) {
  #home .makeup-block {
    height: 75px;
  }
}
#home .makeup-block .bi {
  color: #c40d31;
  font-size: 3.5rem;
  padding-right: 1rem;
}
#home .makeup-block div {
  transition: 0.5s ease-in-out;
}
#home .makeup-block div:hover {
  background-color: #d60029;
  transition: 0.5s ease-in-out;
}
#home .makeup-block div a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 108px;
  padding-block: 1.85rem;
}
#home .makeup-block div a:hover {
  color: #fff;
}
#home .makeup-block div a:hover .bi {
  color: #fff;
}
@media (max-width: 991px) {
  #home .makeup-block div .makeup-block {
    padding-block: 0px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
  }
  #home .makeup-block div .makeup-block > div {
    font-size: clamp(2.1rem, 2vw, 3rem);
    padding-block: 1.5rem;
  }
  #home .makeup-block div img {
    /*width: 100% */
    -o-object-fit: fill;
       object-fit: fill;
  }
}

#make-up {
  height: 100dvh;
  width: 100%;
  background-color: #000;
  background-image: url(../img/bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#make-up .texto-principal {
  text-align: left;
  padding-left: 100px;
}
#make-up .texto-principal h2 {
  font-size: clamp(5rem, 15vw - 1rem, 21rem);
  text-transform: uppercase;
  font-weight: 100;
  line-height: 0.75;
}
#make-up .texto-principal span {
  color: #d60029;
}
@media (max-width: 991px) {
  #make-up {
    height: 75dvh;
    padding: 0;
  }
}

.carousel-item {
  transition: transform 5s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 3s;
}

.cosmia-contacto {
  background-color: #000;
  width: 100%;
  text-decoration: none;
}
.cosmia-contacto a {
  text-decoration: none;
}
.cosmia-contacto .container-fluid {
  border-block: 1px solid #d60029;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.cosmia-contacto .container-fluid a {
  text-decoration: none;
  color: #fff;
}
.cosmia-contacto .container-fluid:hover {
  background-color: #d60029;
}
.cosmia-contacto .container-fluid:hover .bi {
  color: #fff;
}
.cosmia-contacto div:nth-child(2) {
  border: none;
}
.cosmia-contacto .cosmia-estudio, .cosmia-contacto .cosmia-salon, .cosmia-contacto .cosmia-school {
  padding-block: 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.cosmia-contacto .cosmia-estudio h3, .cosmia-contacto .cosmia-salon h3, .cosmia-contacto .cosmia-school h3 {
  font-size: clamp(2.15rem, 5vw, 5rem);
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}
.cosmia-contacto .cosmia-estudio .bi, .cosmia-contacto .cosmia-salon .bi, .cosmia-contacto .cosmia-school .bi {
  color: #d60029;
  margin-inline: 1rem;
}

#agendar {
  height: 100dvh;
  width: 100%;
  background-image: url(../img/bg_3_luciana_cita.png);
  background-size: cover;
  background-position: center center;
}
#agendar .citas {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}
#agendar .citas h1 {
  font-size: clamp(3rem, 6vw, 8rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 1rem;
}
#agendar .citas .bi-plus-lg {
  font-size: clamp(6rem, 8vw, 8rem);
  color: #c40d31;
  text-align: center;
}
@media (max-width: 991px) {
  #agendar .citas {
    padding-left: 3rem;
  }
  #agendar .citas h1 {
    font-weight: 400;
    padding-left: 1rem;
  }
}
#agendar .agenda {
  width: 310px;
  text-transform: uppercase;
  font-size: clamp(3.5rem, 5vw, 6rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-justify: justify;
}
@media (max-width: 991px) {
  #agendar .agenda {
    width: 15ch;
    font-weight: 400;
    font-kerning: 2rem;
  }
}

#video-section {
  background: url(../img/bg-video.png) no-repeat center center;
  height: 600px;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#video-section .button {
  font-size: clamp(3rem, 5vw - 1rem, 8.33rem);
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  display: block;
}
#video-section .button:hover {
  color: #d60029;
}
@media (max-width: 768px) {
  #video-section {
    height: 50dvh;
  }
}

#testimonio {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
#testimonio .texto-testimonio {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(2rem, 2vw, 2.5rem);
  font-weight: 100;
  max-width: 55ch;
  line-height: 2em;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #testimonio .texto-testimonio span {
    display: none;
  }
}
#testimonio .menu_links {
  margin-block: 5rem;
}
@media (max-width: 768px) {
  #testimonio .menu_links {
    margin-block: 4rem;
  }
}
#testimonio .menu_links ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#testimonio .menu_links ul li {
  padding-block: 2rem;
  text-decoration: underline;
  font-size: clamp(3rem, 4vw, 4.5rem);
  font-weight: 300;
  color: #fff;
}
#testimonio .menu_links ul li span {
  color: #c40d31;
  text-decoration: underline;
  font-size: clamp(3rem, 4vw, 4.5rem);
  font-weight: 400;
}
@media (max-width: 768px) {
  #testimonio .menu_links ul {
    flex-direction: column;
    align-items: center;
  }
  #testimonio .menu_links ul li {
    padding-block: 1rem;
  }
}
#testimonio .redes-sociales {
  margin-block: 5rem;
}
@media (max-width: 768px) {
  #testimonio .redes-sociales {
    margin-block: 3rem;
  }
}
#testimonio .redes-sociales ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#testimonio .redes-sociales ul li {
  padding: 2rem;
  font-size: clamp(1.85rem, 2.2vw, 2.5rem);
  font-weight: 300;
}
#testimonio .redes-sociales ul li a {
  color: #fff;
  text-decoration: none;
}
#testimonio .redes-sociales ul li a:hover {
  color: #d60029;
  padding-bottom: 10px;
  border-bottom: 1px solid #d60029;
}
@media (max-width: 768px) {
  #testimonio .redes-sociales ul {
    flex-direction: column;
    align-items: center;
  }
  #testimonio .redes-sociales ul li {
    padding: 2rem 0 2rem 0;
    display: block;
  }
}
#testimonio .info-contacto {
  margin-bottom: 5rem;
}
#testimonio .info-contacto p {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
}

.face-off {
  display: none;
}
@media (max-width: 768px) {
  .face-off {
    display: flex;
  }
  .face-off img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#acerca {
  width: 100%;
  height: calc(650px - 5dvh);
  text-transform: uppercase;
  display: flex;
  color: #fff;
  background: url(../img/cosmia-img-about-page.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  #acerca {
    height: 88dvh;
  }
}
#acerca .__acerca-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#acerca .sub-heading h2 {
  font-size: clamp(2rem, 5vw + 2rem, 5rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  margin: 0 auto;
  padding: 0 0;
  animation-name: ingresoderecha;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#acerca .main-heading h1 {
  padding: 0;
  margin: 0;
  font-size: clamp(7rem, 8vw + 1rem, 15rem);
  line-height: 0.85;
  font-weight: 400;
  animation-name: ingresoderecha;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  font-family: "Work Sans", sans-serif;
}

#trabajos {
  width: 100%;
  padding-block: 3rem;
  background-color: #000;
  color: #fff;
}
#trabajos .descripcion {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1.5rem, 1.6vw, 1.83rem);
  line-height: 1.85;
  font-weight: 400;
  padding-right: 8rem;
}
#trabajos .descripcion p:nth-child(1) {
  padding-top: clamp(1.5rem, 2vw, 2.5rem);
  font-size: clamp(2rem, 2.5vw, 2.667rem);
  line-height: 1.85;
  text-wrap: pretty;
}
@media (max-width: 768px) {
  #trabajos .descripcion {
    padding-right: 0;
  }
}

figure {
  margin: 0 0 1rem;
  padding-bottom: 5rem;
}

#__contenido-secundario {
  padding-block: 5rem;
}
#__contenido-secundario p {
  color: #606060;
  padding-block: 3rem;
  line-height: 2;
}
#__contenido-secundario .agendador h2 {
  color: #d60029;
  text-transform: uppercase;
  font-size: clamp(6rem, 7vw, 10rem);
  font-weight: 400;
  line-height: 0.9;
}
#__contenido-secundario .agendador h2 span {
  font-weight: 100;
}
#__contenido-secundario .agendador p {
  text-transform: uppercase;
  font-size: clamp(2.8rem, 2.5vw, 3.33rem);
  margin-top: -2.8rem;
  color: #000;
  font-weight: 400;
}
#__contenido-secundario .cambio-rojo {
  height: 120px;
  filter: invert(14%) sepia(51%) saturate(7428%) hue-rotate(358deg) brightness(82%) contrast(118%);
}
#__contenido-secundario .bloquote {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 20px;
  background-color: #c40d31;
}
#__contenido-secundario .bloquote p {
  color: #fff;
  padding: 6rem;
}
#__contenido-secundario .bloquote p:nth-child(1) {
  font-size: 1.83rem;
  line-height: 1.5;
  padding: 6rem 8rem 0;
}
@media (max-width: 991px) {
  #__contenido-secundario .bloquote p:nth-child(1) {
    padding: 1rem;
  }
}
#__contenido-secundario .bloquote p:nth-child(2) {
  font-size: 2.66rem;
  line-height: 1.2;
  padding: 2rem 8rem;
}
@media (max-width: 991px) {
  #__contenido-secundario .bloquote p:nth-child(2) {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  #__contenido-secundario .bloquote {
    position: relative;
    z-index: auto;
    top: auto;
    margin-bottom: 1rem;
  }
  #__contenido-secundario .bloquote p {
    padding: 0;
    font-size: 1.5rem;
  }
}
#__contenido-secundario figcaption {
  padding-inline: 8rem;
}
#__contenido-secundario figcaption h5 {
  font-size: 2.667rem;
  font-weight: 400;
}
@media (max-width: 991px) {
  #__contenido-secundario figcaption {
    padding-inline: 1rem;
  }
}
#__contenido-secundario .descripcion {
  font-size: 1.83rem;
  max-width: 85ch;
}

.gallery h2 {
  font-size: clamp(5rem, 5vw, 8.5rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.gallery .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.35s ease;
}
.gallery .galeria {
  position: relative;
}
.gallery .galeria:hover img {
  opacity: 0.3;
}
.gallery .galeria:hover .overlay {
  opacity: 0.75;
  background-color: rgb(0, 0, 0);
}
.gallery .margenes {
  margin-bottom: 3.75rem;
}
.gallery p {
  font-size: 3rem;
  color: #c40d31;
  text-transform: uppercase;
  padding-block: 2.5rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .gallery span {
    visibility: hidden;
  }
  .gallery .margenes {
    margin-bottom: 0;
  }
}

figcaption img {
  padding-left: 10rem;
}

.whatsapp {
  z-index: 999;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  padding: 10px 5px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  background: #0df053;
}
.whatsapp .bi {
  color: #fff;
  font-size: clamp(3rem, 2vw, 3.3rem);
  padding: 10px;
}
.whatsapp .bi:hover {
  color: #0df053;
}
.whatsapp:hover {
  background: #fff;
}

.chevron {
  animation: vermas 0.5s alternate infinite ease-in-out;
  z-index: 1000;
  position: fixed;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
}
.chevron .bi {
  color: #fff;
  font-size: 4rem;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

#contacto {
  background-color: #000;
  padding-block: 5rem;
}
#contacto .redes-sociales {
  padding-block: 5rem;
}
@media (max-width: 768px) {
  #contacto .redes-sociales {
    margin-block: 1.5rem;
  }
}
#contacto .redes-sociales ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#contacto .redes-sociales ul li {
  padding: 2rem;
  text-decoration: underline;
  font-size: clamp(1.85rem, 2.2vw, 2.75rem);
  font-weight: 300;
  color: #fff;
}
@media (max-width: 768px) {
  #contacto .redes-sociales ul {
    flex-direction: column;
    align-items: center;
  }
  #contacto .redes-sociales ul li {
    padding-block: 0.75rem;
  }
}
#contacto .info-contacto {
  padding: 5rem 1rem;
}
#contacto .info-contacto p {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

#bio {
  margin-top: 4rem;
  margin-bottom: 12rem;
}

/*** FOOTER ESTILOS ***/
footer {
  width: 100%;
  padding-block: 5rem;
  background: #fff;
}
footer img {
  width: 500px;
}
footer .iconos-rrss {
  color: #606060;
}
footer .iconos-rrss ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
footer .iconos-rrss ul li {
  padding: 2rem;
  text-decoration: underline;
  font-size: clamp(3rem, 4vw, 3.5rem);
  font-weight: 300;
}
footer .iconos-rrss ul li a {
  color: #606060;
}
footer .iconos-rrss ul li a:hover {
  color: #d60029;
}
footer .input-group {
  height: 50px;
  width: 25%;
}
@media (max-width: 991px) {
  footer .input-group {
    width: 50%;
  }
}
@media (max-width: 768px) {
  footer .input-group {
    width: 100%;
  }
}
footer .input-group input[type=email] {
  font-size: 1.75rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem;
}
footer .input-group input[type=email]::-moz-placeholder {
  color: #606060 !important;
}
footer .input-group input[type=email]::placeholder {
  color: #606060 !important;
}
footer .input-group button {
  width: 45px;
  border: none;
}
footer .input-group button .bi-send-check {
  font-size: 2.2rem;
}/*# sourceMappingURL=styles.css.map */