@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

$blanco: #fff
$rojo: #bd0000
$gris: #606060
$font-size: 1.6rem
$titulos: 5rem
$main-text: "Work Sans", sans-serif
$negro: #000
$input-color: $negro
$input-group-addon-color: $input-color

*
    box-sizing: border-box
    position: relative
    min-width: 0

html
    font-size: 62.5% //*/ 10px */
    overflow-x: hidden

body
    min-height: 100dvh
    font-size: $font-size
    font-family: $main-text
    color: $blanco
    scroll-behavior: smooth
    overflow-x: hidden

h1, h2, h3, h4 
    text-wrap: balance

p
    text-wrap: pretty

.owl-carousel
    img
        aspect-ratio: 3 / 4
        object-position: center
        object-fit: cover
video
        width: 100%
        height: 650px
        object-fit: cover
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: -1
        aspect-ratio: 16 / 9
        @media (max-width: 768px) 
            height: 100dvh

.logo_principal    
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(63deg) brightness(107%) contrast(101%)
    animation-name: aparicion
    animation-duration: 1s
    animation-delay: 0.1s
    animation-fill-mode: forwards
    opacity: 0
    max-width: 650px
    @media ( max-width: 520px )
        rotate: 0deg
        max-width: 300px
        

@import _navegacion

@import _animacion

#home
    //background-image: url(../img/bg_principal_1.png)
    background-size: cover
    background-position: top center
    width: 100%
    height: 100dvh
    background-color: rgba(0 0 0 / 0.65)
    @media (max-width: 991px) 
        //background-image: url(../img/bg-principal-mvl.png)
        background-position: top center
        display: flex
        justify-content: flex-end
        flex-direction: column
    .main-hero
        height: 82dvh
    img
        height: 560px
        @media (max-width: 768px)
            height: 100px
            width: auto
    .main-text
        text-transform: uppercase
        height: 10vh
        width: 100%
        border-block: 0.25rem solid $blanco
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba(0,0,0,0.5 )
        text-align: center
        animation-name: titulos
        animation-duration: 1s
        animation-delay: 0.5s
        animation-fill-mode: forwards
        @media ( max-width: 991px )
            height: auto        
            padding-block: 1.5rem    
        h2
            font-size: clamp(2rem, 2.5vw, 3.5rem)
            font-family: $main-text
            font-weight: 300
    .makeup-block
        font-family: $main-text
        font-weight: 300
        text-transform: uppercase
        background-color: rgba(0,0,0, 0.75 )
        font-size: clamp(2.1rem, 2.5vw, 2.8rem)
        padding-block: 2rem
        height: 8vh
        animation-name: titulos
        animation-duration: 1s
        animation-delay: 0.75s
        animation-fill-mode: forwards
    .bi
        color: $rojo
    @media (max-width: 991px) 
        .makeup-block
            padding-block: 0px
            height: auto
            margin: 0 auto
            padding: 0
        .makeup-block > div
            border-bottom: 0.25rem solid $blanco
            font-size: clamp(2.1rem, 2vw, 3rem)
            padding-block: 1.5rem
        img
            /*width: 100%
            object-fit: fill
        
#make-up
    height: 100dvh
    width: 100%
    background-color: $negro
    @media ( max-width: 991px )
        height: auto
    

#agendar
    height: 100dvh
    width: 100%
    background-image: url(../img/bg_3_luciana_cita.png)
    background-size: cover
    background-position: center center
    .citas
        height: 100dvh
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        align-content: flex-start
        text-align: left
        h1
            font-size: clamp(5rem, 7vw, 10rem)
            font-family: $main-text
            font-weight: 100
            text-transform: uppercase
            padding-left: 1rem
        .bi-plus-lg
            font-size: clamp(8rem, 10vw, 10rem)
            color: $rojo
            text-align: left
        @media (max-width: 991px)
            padding-left: 3rem
            h1
                font-weight: 400
                padding-left: 1rem
    
    .agenda
        width: 300px
        text-transform: uppercase
        font-size: clamp(3rem, 5vw, 6rem)
        font-family: $main-text
        font-weight: 300
        text-justify: justify
        @media (max-width: 991px) 
            width: 50%
            font-weight: 400
            font-kerning: 2rem

#testimonio
    padding-block: 5rem
    width: 100%
    height: 100dvh
    background-color: rgba(0, 0, 0, .5)
    display: flex
    justify-content: space-between
    @media (max-width: 768px)
        height: 100dvh
        padding-block: 1.5rem
    .texto-testimonio
        font-family: $main-text
        font-size: clamp(2rem, 2vw, 2.5rem)
        font-weight: 100
        @media  ( max-width: 768px  )
            span
                display: none
            
    .menu_links
        margin-block: 5rem
        @media  ( max-width: 768px )
           margin-block: 2rem
        ul
            font-family: $main-text
            text-transform: uppercase
            list-style: none
            display: flex
            justify-content: space-between
            li
                padding-block: 2rem
                text-decoration: underline
                font-size: clamp(3rem, 4vw, 4.5rem)
                font-weight: 300
                color: $blanco
                span
                    color: $rojo
                    text-decoration: underline
                    font-size: clamp(3rem, 4vw, 4.5rem)
                    font-weight: 400
        @media (max-width: 768px) 
            ul
                flex-direction: column
                align-items: center
                li
                    padding-block: 0.75rem
    .redes-sociales
        margin-block: 5rem
        @media  ( max-width: 768px )
           margin-block: 1.5rem
        ul
            font-family: $main-text
            text-transform: uppercase
            list-style: none
            display: flex
            justify-content: center
            gap: 2rem
            li
                padding: 2rem
                text-decoration: underline
                font-size: clamp(1.85rem, 2.2vw, 2.75rem)
                font-weight: 300
                color: $blanco
        @media (max-width: 768px) 
            ul
                flex-direction: column
                align-items: center
                li
                    padding-block: 0.75rem
    .info-contacto
        p
            font-family: $main-text
            font-size: clamp(1.75rem, 2.5vw, 2.5rem)
            line-height: 1.2
            color: $blanco
            text-transform: uppercase
            font-weight: 300
.face-off
    display: none
    @media (max-width: 768px) 
        display: flex
        img
            width: 100%
            object-fit: cover
    
footer
    width: 100%
    padding-block: 5rem
    background: $blanco
    img
        width: 500px
    .iconos-rrss
        color: $gris
        font-size: 2rem
        ul
            font-family: $main-text
            text-transform: uppercase
            list-style: none
            display: flex
            justify-content: center
            gap: 2rem
            li
                padding: 2rem
                text-decoration: underline
                font-size: clamp(2.5rem, 3vw, 3.15rem)
                font-weight: 300
                color: $gris
    .input-group
        height: 50px
        width: 25%
        @media (max-width: 768px) 
            width: 100%
        input[type="email"]
            font-size: 1.75rem
            font-family: $main-text
            font-weight: 400
            background-color: $negro
            color: $blanco
            border: none
            padding: 1rem
        button
            width: 45px
            border: none
            .bi-send-check
                font-size: 2rem

// ESTILOS DE LAS PAGINAS INTERNAS

#acerca
    width: 100%
    //background-color: $negro
    height: calc( 800px - 10vh )
    text-transform: uppercase
    display: flex
    @media ( max-width: 991 )
        height: 100dvh
        
    video
        filter: grayscale(95%)
        object-fit: cover
    .__acerca-contenido
        display: flex
        flex-direction: column
        justify-content: center
    .sub-heading
        h2
            font-size: clamp(3rem, calc(4vw + 2rem), 5rem)
            font-family: $main-text
            font-weight: 200
            margin: 0 auto
            padding: 0 0
    .main-heading
        h1
            padding: 0
            margin: 0
            font-size: clamp(7rem, calc(8vw + 1rem), 10rem)
            line-height: 0.85
            font-weight: 400

#trabajos
    width: 100%
    padding-block: 3rem
    background-color: $negro
    color: $blanco
    .descripcion
        font-family: $main-text
        font-size: 2rem
        line-height: 2
        font-weight: 300

#__contenido-secundario
    padding-block: 5rem
    p
        color: $gris
        padding-block: 3rem
        line-height: 2
    .agendador
        h2
            color: $gris
            text-transform: uppercase
            font-size: 5rem
    .cambio-rojo    
        height: 120px
        filter: invert(14%) sepia(51%) saturate(7428%) hue-rotate(358deg) brightness(82%) contrast(118%)
    .bloquote
        position: absolute
        right: 0
        z-index: 1
        top: 20px
        background-color: $rojo
        p
            font-size: 2rem
            color: $blanco
            padding: 3rem
        @media ( max-width: 991px )
            position: relative
            z-index: auto 
            top: auto     
            margin-bottom: 1rem
            p
                padding: 1.5rem
                font-size: 1.5rem
    .blockquote-footer
        font-size: 2rem
        color: $blanco
        padding-left: 2rem 
              
.gallery
    h2
        font-size: 6rem
        font-family: $main-text
        font-weight: 200
    img
        object-fit: cover 
        aspect-ratio: 16 / 9
    .overlay
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        width: 100%
        height: 100%
        top: 50%
        left: 50%
        opacity: 0
        transform: translate(-50%, -50%)  
        text-align: center
        transition: all 0.35s ease
    .galeria
        position: relative
        &:hover 
            img
                opacity: 0.3
            .overlay
                opacity: 0.75
                background-color: rgba(0,0,0,1)


            