@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.owl-carousel img {
  aspect-ratio: 3/4;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

video {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  aspect-ratio: 16/9;
}
@media (max-width: 768px) {
  video {
    height: 100dvh;
  }
}

.logo_principal {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(63deg) brightness(107%) contrast(101%);
  animation-name: aparicion;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
  max-width: 650px;
}
@media (max-width: 520px) {
  .logo_principal {
    rotate: 0deg;
    max-width: 300px;
  }
}

header {
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  max-width: 1320px;
  background-color: #fff;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
  padding: 1rem 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 2.35rem;
}
.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu, .cerrar-menu {
  display: none;
}

@media (min-width: 300px) {
  .abrir-menu, .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25em;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: #fff;
  }
  .abrir-menu i {
    color: #a01c1c;
    font-size: 2.5em;
    padding: 1.5em;
  }
  .cerrar-menu {
    color: #ececec;
  }
  .cerrar-menu i {
    font-size: 2.5em;
    padding: 1.5em;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2.5em;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
    width: 100%;
    transition: ease 0.5s;
    height: 100dvh;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-list li a {
    color: #fff;
  }
}
@keyframes aparicion {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes titulos {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#home {
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.65);
}
@media (max-width: 991px) {
  #home {
    background-position: top center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
#home .main-hero {
  height: 82dvh;
}
#home img {
  height: 560px;
}
@media (max-width: 768px) {
  #home img {
    height: 100px;
    width: auto;
  }
}
#home .main-text {
  text-transform: uppercase;
  height: 10vh;
  width: 100%;
  border-block: 0.25rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  animation-name: titulos;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@media (max-width: 991px) {
  #home .main-text {
    height: auto;
    padding-block: 1.5rem;
  }
}
#home .main-text h2 {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
#home .makeup-block {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: clamp(2.1rem, 2.5vw, 2.8rem);
  padding-block: 2rem;
  height: 8vh;
  animation-name: titulos;
  animation-duration: 1s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
#home .bi {
  color: #bd0000;
}
@media (max-width: 991px) {
  #home .makeup-block {
    padding-block: 0px;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  #home .makeup-block > div {
    border-bottom: 0.25rem solid #fff;
    font-size: clamp(2.1rem, 2vw, 3rem);
    padding-block: 1.5rem;
  }
  #home img {
    /*width: 100% */
    -o-object-fit: fill;
       object-fit: fill;
  }
}

#make-up {
  height: 100dvh;
  width: 100%;
  background-color: #000;
}
@media (max-width: 991px) {
  #make-up {
    height: auto;
  }
}

#agendar {
  height: 100dvh;
  width: 100%;
  background-image: url(../img/bg_3_luciana_cita.png);
  background-size: cover;
  background-position: center center;
}
#agendar .citas {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
}
#agendar .citas h1 {
  font-size: clamp(5rem, 7vw, 10rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 1rem;
}
#agendar .citas .bi-plus-lg {
  font-size: clamp(8rem, 10vw, 10rem);
  color: #bd0000;
  text-align: left;
}
@media (max-width: 991px) {
  #agendar .citas {
    padding-left: 3rem;
  }
  #agendar .citas h1 {
    font-weight: 400;
    padding-left: 1rem;
  }
}
#agendar .agenda {
  width: 300px;
  text-transform: uppercase;
  font-size: clamp(3rem, 5vw, 6rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-justify: justify;
}
@media (max-width: 991px) {
  #agendar .agenda {
    width: 50%;
    font-weight: 400;
    font-kerning: 2rem;
  }
}

#testimonio {
  padding-block: 5rem;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #testimonio {
    height: 100dvh;
    padding-block: 1.5rem;
  }
}
#testimonio .texto-testimonio {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(2rem, 2vw, 2.5rem);
  font-weight: 100;
}
@media (max-width: 768px) {
  #testimonio .texto-testimonio span {
    display: none;
  }
}
#testimonio .menu_links {
  margin-block: 5rem;
}
@media (max-width: 768px) {
  #testimonio .menu_links {
    margin-block: 2rem;
  }
}
#testimonio .menu_links ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#testimonio .menu_links ul li {
  padding-block: 2rem;
  text-decoration: underline;
  font-size: clamp(3rem, 4vw, 4.5rem);
  font-weight: 300;
  color: #fff;
}
#testimonio .menu_links ul li span {
  color: #bd0000;
  text-decoration: underline;
  font-size: clamp(3rem, 4vw, 4.5rem);
  font-weight: 400;
}
@media (max-width: 768px) {
  #testimonio .menu_links ul {
    flex-direction: column;
    align-items: center;
  }
  #testimonio .menu_links ul li {
    padding-block: 0.75rem;
  }
}
#testimonio .redes-sociales {
  margin-block: 5rem;
}
@media (max-width: 768px) {
  #testimonio .redes-sociales {
    margin-block: 1.5rem;
  }
}
#testimonio .redes-sociales ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#testimonio .redes-sociales ul li {
  padding: 2rem;
  text-decoration: underline;
  font-size: clamp(1.85rem, 2.2vw, 2.75rem);
  font-weight: 300;
  color: #fff;
}
@media (max-width: 768px) {
  #testimonio .redes-sociales ul {
    flex-direction: column;
    align-items: center;
  }
  #testimonio .redes-sociales ul li {
    padding-block: 0.75rem;
  }
}
#testimonio .info-contacto p {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.face-off {
  display: none;
}
@media (max-width: 768px) {
  .face-off {
    display: flex;
  }
  .face-off img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

footer {
  width: 100%;
  padding-block: 5rem;
  background: #fff;
}
footer img {
  width: 500px;
}
footer .iconos-rrss {
  color: #606060;
  font-size: 2rem;
}
footer .iconos-rrss ul {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
footer .iconos-rrss ul li {
  padding: 2rem;
  text-decoration: underline;
  font-size: clamp(2.5rem, 3vw, 3.15rem);
  font-weight: 300;
  color: #606060;
}
footer .input-group {
  height: 50px;
  width: 25%;
}
@media (max-width: 768px) {
  footer .input-group {
    width: 100%;
  }
}
footer .input-group input[type=email] {
  font-size: 1.75rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem;
}
footer .input-group button {
  width: 45px;
  border: none;
}
footer .input-group button .bi-send-check {
  font-size: 2rem;
}

#acerca {
  width: 100%;
  height: calc(800px - 10vh);
  text-transform: uppercase;
  display: flex;
}
@media (max-width: 991) {
  #acerca {
    height: 100dvh;
  }
}
#acerca video {
  filter: grayscale(95%);
  -o-object-fit: cover;
     object-fit: cover;
}
#acerca .__acerca-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#acerca .sub-heading h2 {
  font-size: clamp(3rem, 4vw + 2rem, 5rem);
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  margin: 0 auto;
  padding: 0 0;
}
#acerca .main-heading h1 {
  padding: 0;
  margin: 0;
  font-size: clamp(7rem, 8vw + 1rem, 10rem);
  line-height: 0.85;
  font-weight: 400;
}

#trabajos {
  width: 100%;
  padding-block: 3rem;
  background-color: #000;
  color: #fff;
}
#trabajos .descripcion {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  line-height: 2;
  font-weight: 300;
}

#__contenido-secundario {
  padding-block: 5rem;
}
#__contenido-secundario p {
  color: #606060;
  padding-block: 3rem;
  line-height: 2;
}
#__contenido-secundario .agendador h2 {
  color: #606060;
  text-transform: uppercase;
  font-size: 5rem;
}
#__contenido-secundario .cambio-rojo {
  height: 120px;
  filter: invert(14%) sepia(51%) saturate(7428%) hue-rotate(358deg) brightness(82%) contrast(118%);
}
#__contenido-secundario .bloquote {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 20px;
  background-color: #bd0000;
}
#__contenido-secundario .bloquote p {
  font-size: 2rem;
  color: #fff;
  padding: 3rem;
}
@media (max-width: 991px) {
  #__contenido-secundario .bloquote {
    position: relative;
    z-index: auto;
    top: auto;
    margin-bottom: 1rem;
  }
  #__contenido-secundario .bloquote p {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}
#__contenido-secundario .blockquote-footer {
  font-size: 2rem;
  color: #fff;
  padding-left: 2rem;
}

.gallery h2 {
  font-size: 6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.gallery .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.35s ease;
}
.gallery .galeria {
  position: relative;
}
.gallery .galeria:hover img {
  opacity: 0.3;
}
.gallery .galeria:hover .overlay {
  opacity: 0.75;
  background-color: rgb(0, 0, 0);
}/*# sourceMappingURL=styles.css.map */